<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="firstBeanCar" class="ru.philimonov.springcourse.beans.Car">
        <property name="speed" value="100"/>
        <property name="mark" value="Audi"/>
    </bean>

    <bean id="secondBeanCar" class="ru.philimonov.springcourse.beans.Car">
       <constructor-arg index="0" value="120"/>
       <constructor-arg index="1" value="Mercedes"/>
    </bean>

</beans>